@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}
button {
    outline: none !important;
}

html, body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff !important ;
    position: relative;
    overflow-x:hidden;
}
li {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none
}

.form-input {
    background-color: "#0151C38 !important";
	border-radius:"10px";
}

.css-1xp7ed8  {
    border-bottom: none;
}

