@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}
button {
    outline: none !important;
}

html, body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff !important ;
    position: relative;
    overflow-x:hidden;
    overflow-y: hidden;
}
li {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none
}

.form-input {
    background-color: "#0151C38 !important";
	border-radius:"10px";
}

.css-1xp7ed8  {
    border-bottom: none;
}

.carousel__inner-slide {
    margin-right: 20px;
  }

.quill-notebook  {
    height: 95.2%;
    border: none !important;
    color: #fff !important;
}
.ql-container.ql-snow,
.ql-toolbar.ql-snow   {
    border : none !important;
}
.quill-notebook > .ql-toolbar.ql-snow {
    color: #fff !important;
    background: #7a7a7e;
    border-left: 2px solid#929297!important;
}

.quill-notebook > .ql-container.ql-snow {
    background: #7a7a7e;
    font-size: 1.5em;
    border-left: 2px solid#929297 !important;
}

.quill-message > .ql-toolbar.ql-snow  {
    color: #fff !important;
    background: #fff;
    border-radius: 5px;
}

.quill-message > .ql-container.ql-snow {
    background: #23252A;
    font-size: 1.2em;
} 


  
  /* hiding first and last lines in cartesian grid */
  .recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child,
  .recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
  }